[Desktop Entry]
Encoding=UTF-8
Name=Link to attribute extraction manga
Type=Link
URL=https://www.google.com/search?sxsrf=AOaemvJZ06pld3-J58sp8mfUiIutLa8xgA:1639877835406&q=Attribute+extraction+manga&sa=X&ved=2ahUKEwjroOr-3O70AhXzIDQIHd1LCDsQ1QJ6BAghEAE
Icon=text-html
